* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navy-bg {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header-links, a {
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
}

a:hover, a:focus-visible {
    color: #6aa1ff;
}

a:active {
    color: #66d2f0;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}