* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4rem;
}

.navy-bg {
  background-color: #1f2937;
}

header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.header-links,
a {
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
  display: flex;
  gap: 1.5rem;
}

a:hover,
a:focus-visible {
  color: #6aa1ff;
}

a:active {
  color: #66d2f0;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

button,
.first-button {
  max-width: fit-content;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 20px;
  border-style: none;
  border-radius: 6px;
}

.placeholder {
  color: #e5e7eb;
  background-color: #808080;
  width: 500px;
  padding: 3rem;
  align-content: center;
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  padding-block: 5rem;
}

.left-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.main-header {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
}

.illustration-placeholder {
    border: Solid 3px #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.item-wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}