* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navy-bg {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header-links, a {
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    gap: 1.5rem;
}

a:hover, a:focus-visible {
    color: #6aa1ff;
}

a:active {
    color: #66d2f0;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button, .first-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border-style: none;
    border-radius: 6px;
}